{% extends "base_generic.html" %}

{% block title %}Выбор времени | Приглашение к участию в проекте{% endblock %}

{% block content %}
<div class="container pt-5">
    <p>Длительность созвона от 30и минут</p>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{{ project.name }}</h5>  <!-- Название проекта -->
        </div>
        <div class="card-body">
          <p class="card-text">Описание проекта: {{ project.description }}</p> <!-- Описание проекта -->
          <p class="card-text">Выбрана неделя: {{ week }}</p> 
            <h6 class="card-subtitle mb-2 text-muted">Доступное время:</h6>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <br><button type="button" id="select-all">Могу в любое время</button><br><br>
                <button type="submit" class="btn btn-primary mt-2">Выбрать</button>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById('select-all').addEventListener('click', function() {
        var inputs = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].checked = true;
        }
    });
</script>
{% endblock %}