{% extends "base_generic.html" %}
{% block title %}Страница проекта{% endblock %}
{% block content %}
<div class="container pt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{{ project.name }}</h5>  <!-- Название проекта -->
        </div>
        <div class="card-body">
            <p class="card-text">Описание: {{ project.description }}</p> <!-- Описание проекта -->
            {% if team %}
            <p>Неделя: {{ current_team.start_date }}</p>
            <p>Время созвона: {{ current_team.meeting_time }}</p>
            <p>ПМ: {{ current_team.project_manager }}</p>
            <p>Инфа для команды: {{ current_team.info }}</p>

            {% else %}
                <p>Вы уже сделали выбор, но Ваша команда ещё формируется:</p>
                <p>Неделя: {{ week }}</p>
                <p>Выбранное время: {{ vote }}</p>
            {% endif %}
            
        </div>
    </div>
</div>
{% endblock %}