{% extends "base_generic.html" %}

{% block title %}Выбор недели | Приглашение к участию в проекте{% endblock %}

{% block content %}
<div class="container pt-5">
  <p>Т.к. Вы ещё не участвовали в этом проекте, предлагаем Вам выбрать доступную неделю и получить этот опыт.</p>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{{ project.name }}</h5>  <!-- Название проекта -->
        </div>
        <div class="card-body">
          <p class="card-text">Описание проекта: {{ project.description }}</p> <!-- Описание проекта -->
            <h6 class="card-subtitle mb-2 text-muted">Доступные недели:</h6>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary mt-2">Выбрать</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}